/*
 * TREE TABLE CSS
 */
  @font-face {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: normal;
        src: url('/fonts/Raleway-Black.ttf');
 }
    

.root {
	-fx-background-color: rgb(0.8, 15.3, 20.8);
	background-blend-mode: screen;
	-fx-font-family: 'Raleway', sans-serif;
	
}

.label {
	-fx-text-fill: #89c4f4;
	-fx-font-smoothing-type: lcd;
}

.label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0;
}

.header {
	-fx-text-fill: #89c4f4;
    -fx-font-size: 16;
}

/*******************************************************************************
 *                                                                             *
 * Hamburger			                                                       *
 *                                                                             *
 ******************************************************************************/
.jfx-hamburger {
    -fx-spacing: 5;
    -fx-cursor: hand;
}

.jfx-hamburger StackPane {
    -fx-pref-width: 40px;
    -fx-pref-height: 7px;
    -fx-background-color: #89c4f4;
    -fx-background-radius: 5px;
}

/*******************************************************************************
 *                                                                             *
 * Misc		                                                       *
 *                                                                             *
 ******************************************************************************/
.jfx-text-field {
    -fx-prompt-text-fill: #c5eff7;
    -jfx-focus-color: #103E50;
    -jfx-unfocus-color: #103E50;
    -fx-text-fill: #89c4f4;
    -fx-padding: 0 30px 0 0;
    -jfx-label-float: true;
}

.clearTextField {
	-fx-font-size: 9px;
	-fx-min-width: 12px;
	-fx-min-height: 12px;
}

.jfx-button {
	-fx-background-color: #89c4f4;
	-fx-text-fill: #103E50;
}

.jfx-rippler {
      -jfx-rippler-fill: rgb(0.8, 15.3, 20.8);
}

.selectable {
	-fx-cursor: hand;
}

.rating-label {	
	-fx-background-color: #89c4f4;
	-fx-text-fill: black;
	-fx-border-color: #89c4f4;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error {
    -jfx-focus-color: #ff565c;
    -jfx-unfocus-color: #ff565c;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #ff565c;
    -fx-font-size: 0.75em;
}



/*******************************************************************************
 *                                                                             *
 * Dialog Pane		                                                       *
 *                                                                             *
 ******************************************************************************/
.jfx-dialog-overlay-pane > StackPane{
    -fx-background-color: rgba(2,39,53, 0.97);
    -fx-border-color: rgba(	137, 175, 244, 0.9);
    -fx-border-radius: 10 10 10 10;
 	-fx-background-radius: 10 10 10 10;
}


.dialog-title {
	-fx-font-size: 19px;
	-fx-font-weight: bold;
}

.dialog-subtitle {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}


/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/
 
 
 .scroll-pane {
 	-fx-background-color: rgba(2,39,53, 0.97);
 }

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #6D92A0;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #457385;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #022735;
}

.scroll-bar > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

.viewport {
	-fx-background-color: rgba(2,39,53, 0.97);
}

/*******************************************************************************
 *                                                                             *
 * ListView			                                                    	   *
 *                                                                             *
 ******************************************************************************/ 
.list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #89c4f4;
}
 
.list-view {
    -fx-background-color: rgba(0.8, 15.3, 20.8, 0.8);
    -fx-background-radius: 5px;
}


.list-cell{
	-fx-text-fill: #89c4f4;
	-fx-background-color: #010f15;
}

.list-cell:owned-media {
	-fx-background-color: #c5eff7;
}

.list-cell:owned-media .label{
	-fx-text-fill: #001828;
}

.list-cell:hover{
    -fx-text-fill: #103E50;
	-fx-background-color: #487687;
}

.list-cell:selected {
	-fx-background-color: #89c4f4;
}

.list-cell:selected .label{
	-fx-text-fill: #103E50;
}

/*******************************************************************************
 *                                                                             *
 * Combo Box		                                                     	   *
 *                                                                             *
 ******************************************************************************/


.jfx-combo-box{
	-fx-border-width: 0 0 0 0;
    -fx-background-color: #010f15;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-prompt-text-fill: #103E50;
    -jfx-focus-color: #c5eff7;
    -jfx-unfocus-color: #103E50;
}

.jfx-combo-box .list-cell{
	-fx-text-fill: #89c4f4;
	-fx-background-color: #010f15;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-text-fill: #001828;
	-fx-background-color: #89c4f4;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #103E50;
	-fx-background-color: #487687;
}

/*******************************************************************************
 *                                                                             *
 * Autocomplete		                                                     	   *
 *                                                                             *
 ******************************************************************************/
.autocomplete-list{
    -fx-fixed-cell-size: 35;
}


/*******************************************************************************
 *                                                                             *
 * Date Picker																   *
 *                                                                             *
 ******************************************************************************/

.person_pane {
	-fx-background-color: linear-gradient(from 50% 25% to 100% 100%, #103E50, #022735);
	-fx-border-radius: 0 20 20 0;
 	-fx-background-radius: 0 20 20 0;
}

.person_label {
	-fx-padding: 0 0 0 20;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-wrap-text: true;
}

/*******************************************************************************
 *                                                                             *
 * Pop Over		                                                       *
 *                                                                             *
 ******************************************************************************/ 
.pop_title {
	-fx-text-fill: #89c4f4 !important;
}


.popup_descript {
	-fx-text-alignment: center;
	-fx-text-fill: #89c4f4 !important;
}
.popover {
	-fx-border-width: 0;
}


.popover > .content {
    -fx-padding: 2px;
    -fx-background-color: #103E50 !important; 
    -fx-text-fill: #89c4f4 !important;
    
}

.popover > .border  {
    -fx-border-style: none;
    -fx-padding: 0;
    -fx-fill: #89c4f4 !important;
}

.pop_over_left {
	-fx-border-style: solid solid solid hidden;
}

.pop_over_right {
	-fx-border-style: solid hidden solid solid;
}

.tooltip {
	-fx-text-fill: #89c4f4 !important;
	-fx-background-color: #103E50 !important; 
}

/*******************************************************************************
 *                                                                             *
 * Slider				                                                       *
 *                                                                             *
 ******************************************************************************/ 

.jfx-slider > .colored-track {
     -fx-background-color: #89c4f4;
}

.jfx-slider > .thumb {
     -fx-background-color: #89c4f4;
}

.jfx-slider .animated-thumb{
    -fx-background-color: TRANSPARENT;  
}

.jfx-slider .animated-thumb .slider-value {
     -fx-stroke: TRANSPARENT;
     -fx-fill: TRANSPARENT;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #89c4f4;
}


/*******************************************************************************
 *                                                                             *
 * AutoComplete			                                                    	   *
 *                                                                             *
 ******************************************************************************/ 
 
.cell-name-text  {	
	-fx-fill: #89c4f4;
	-fx-font-size: 11pt;
}

.cell-year-text  {
	-fx-fill: white;
	-fx-font-size: 10pt;
}


/*******************************************************************************
 *                                                                             *
 * Rating			                                                    	   *
 *                                                                             *
 ******************************************************************************/ 
 
.rating > .container > .button {
  -fx-background-image: url("/images/unselected_star.png");
  -fx-background-color: transparent;
}

.rating > .container > .button.strong {
  -fx-background-image: url("/images/selected_star_base.png");
  -fx-background-color: transparent;
}

.rating.loaded > .container > .button.strong {
  -fx-background-image: url("/images/selected_star.png");
  -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Genre/Tag Chips			                                                   *
 *                                                                             *
 ******************************************************************************/ 
.genre-chip-hbox {
    -fx-font-size: 12.0;
    -fx-background-color: #89c4f4;
    -fx-background-radius: 40px;
    -fx-padding: 5px 8px 5px 12px;
    -fx-pref-height: 28px;
    -fx-alignment: center;
    -fx-spacing: 8;
    -fx-cursor: hand;    
}

.genre-chip-label {
	-fx-text-fill: #001828;
}

.tag-chip-hbox {
	-fx-font-size: 10.0;
    -fx-background-color: #89c4f4;
    -fx-background-radius: 40px;
    -fx-padding: 5px 8px 5px 12px;
    -fx-pref-height: 24px;
    -fx-alignment: center;
    -fx-spacing: 8;
    -fx-cursor: hand;  
}

.tag-chip-label {
	-fx-text-fill: #001828;
}


/*******************************************************************************
 *                                                                             *
 * Tab Pane			                                                    	   *
 *                                                                             *
 ******************************************************************************/
 .jfx-tab-pane .tab {
    -fx-cursor: hand;
}
  
 .jfx-tab-pane .tab .tab-label {
    -fx-font-weight: normal;
    -fx-text-fill: #89c4f4;
    -fx-font-size: 16;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill :#89c4f4;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #89c4f4;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #103E50;
}


.jfx-tab-pane .tab-header-background {
    -fx-background-color: #103E50;
}

.jfx-tab-pane .tab:disabled {
    -fx-background-color: rgb(0.8, 15.3, 20.8);
    -fx-cursor: default;
}

.jfx-tab-pane .tab:disabled .tab-label{
    -fx-text-fill: grey;
}

