/*
 * TREE TABLE CSS
 */
  @font-face {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: normal;
        src: url('Raleway-Bold.ttf');
 }
    

.root {
	background-blend-mode: screen;
	-fx-font-family: 'Raleway', sans-serif;
}

.grid-pane {
	-fx-background-color: #051b27;
}

.label {
	-fx-text-fill: #dee5ed;
	-fx-font-smoothing-type: lcd;
}

.text-desc {
	-fx-fill: #dee5ed;
	-fx-font-smoothing-type: lcd;
}

.header {
	-fx-text-fill: #dee5ed;
    -fx-font-size: 16;
}

.outlined-text .text{
    -fx-font-size: 14;
    -fx-effect: dropshadow(three-pass-box, black, 0.08em, 0.08em, -0.08em, 0.08em)
}

/*******************************************************************************
 *                                                                             *
 * Misc		                                                       *
 *                                                                             *
 ******************************************************************************/
.jfx-text-field {
    -fx-prompt-text-fill: #c5eff7;
    -jfx-focus-color: #103E50;
    -jfx-unfocus-color: #103E50;
    -fx-text-fill: #dee5ed;
    -jfx-label-float: true;
}

.clear-button {
	-fx-pref-height: 10px;
	-fx-max-height: 10px;
	-fx-pref-width: 10px;
	-fx-max-width: 10px;
	-fx-background-image: url('clear.png');
	-fx-background-size: 9px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.add-button {
	-fx-pref-height: 10px;
	-fx-max-height: 10px;
	-fx-pref-width: 10px;
	-fx-max-width: 10px;
	-fx-background-image: url('plus.png');
	-fx-background-size: 10px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.jfx-button {
	-fx-background-color: #051b27;
	-fx-text-fill: #ff3946;
	-fx-border-color: #ff3946;
	-fx-stroke: 1px;
	-fx-border-radius: 5px;
	-jfx-button-type: RAISED;
}

.jfx-rippler {
      -jfx-rippler-fill: #dee5ed;
      -jfx-mask-type: RECT;
}

.jfx-fit-rippler {
      -jfx-mask-type: FIT;
}

.selectable {
	-fx-cursor: hand;
}

.rating-label {	
	-fx-background-color: #ff3946;
	-fx-text-fill: black;
	-fx-border-color: #ff3946;
}

.jfx-text-field:error, .jfx-password-field:error, .jfx-text-area:error {
    -jfx-focus-color: #ff565c;
    -jfx-unfocus-color: #ff565c;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #ff565c;
    -fx-font-size: 0.75em;
}

.jfx-options-burger StackPane {
    -fx-pref-width: 4px;
    -fx-background-color: #ff565c;
}

.circle-rippler {
    -jfx-mask-type: CIRCLE;
    -fx-cursor: hand;
}

.media-rippler-bottom {
    -fx-background-color: #010f15;
}

/*******************************************************************************
 *                                                                             *
 * Dialog Pane		                                                       *
 *                                                                             *
 ******************************************************************************/
.jfx-dialog-overlay-pane > StackPane{
    -fx-background-color: #051b27;
    -fx-border-color: #ff3946;
    -fx-border-radius: 10 10 10 10;
 	-fx-background-radius: 10 10 10 10;
}


.dialog-title {
	-fx-font-size: 19px;
	-fx-font-weight: bold;
}

.dialog-subtitle {
	-fx-font-size: 14px;
	-fx-font-weight: bold;
}


/*******************************************************************************
 *                                                                             *
 * Scroll Bar			                                                       *
 *                                                                             *
 ******************************************************************************/
 
 
 .scroll-pane {
 	-fx-background-color: #051b27;
 	-fx-background-radius: 10px;
 }
 
 .movie-scroll-pane {
 	-fx-background-color: #051b27;
 }

.scroll-bar:vertical > .track-background, .scroll-bar:horizontal > .track-background {
    -fx-background-color: #6D92A0;
    -fx-background-insets: 0.0;
}

.scroll-bar:vertical > .thumb, .scroll-bar:horizontal > .thumb {
    -fx-background-color: #457385;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button {
    -fx-padding: 5 2 5 2;
}

.scroll-bar > .increment-button, .scroll-bar > .decrement-button, .scroll-bar:hover > .increment-button, .scroll-bar:hover > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #051b27;
}

.scroll-bar > .increment-button > .increment-arrow {
    -fx-shape: "M298 426h428l-214 214z";
}

.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-shape: "M298 598l214-214 214 214h-428z";
}

.viewport {
	-fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * ListView			                                                    	   *
 *                                                                             *
 ******************************************************************************/

.list-view .scroll-bar:vertical {
    -fx-scale-x: 1;
}
 
.list-view {
    -fx-background-color: #010f15;
    -fx-background-radius: 5px;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.flow-cell{
	-fx-text-fill: #dee5ed;
	-fx-background-color: #010f15;
}

.flow-cell:owned-media {
	-fx-cursor: hand;
	-fx-background-color: #B5C3D5;
}

.flow-cell:owned-media:hover {
	-fx-cursor: hand;
	-fx-background-color: #891e25;
}

.flow-cell:owned-media .label{
	-fx-text-fill: #ff3946;
}

.flow-cell:hover{
    -fx-text-fill: #dee5ed;
	-fx-background-color: #ff3946;
}

.flow-cell:selected {
	-fx-background-color: #891e25;
}

.flow-cell:selected .label{
	-fx-text-fill: #dee5ed;
}

.list-cell{
	-fx-text-fill: #dee5ed;
	-fx-background-color: #010f15;
}

.list-cell:hover{
    -fx-text-fill: #dee5ed;
	-fx-background-color: #ff3946;
}

.list-cell:selected {
	-fx-background-color: #891e25;
}


.list-cell:selected .label{
	-fx-text-fill: #dee5ed;
}

/*******************************************************************************
 *                                                                             *
 * Combo Box		                                                     	   *
 *                                                                             *
 ******************************************************************************/


.jfx-combo-box{
	-fx-border-width: 0 0 0 0;
    -fx-background-color: #010f15;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-prompt-text-fill: #c5eff7;
    -jfx-focus-color: #c5eff7;
    -jfx-unfocus-color: #103E50;
    -fx-font-size: 11px;
}

.jfx-combo-box .list-cell{
	-fx-text-fill: #dee5ed;
	-fx-background-color: #010f15;
	-fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell:selected {
    -fx-text-fill: #dee5ed;
	-fx-background-color: #891e25;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #dee5ed;
	-fx-background-color: #ff3946;
}

/*******************************************************************************
 *                                                                             *
 * Autocomplete		                                                     	   *
 *                                                                             *
 ******************************************************************************/
.autocomplete-list{
    -fx-fixed-cell-size: 45;
}

.jfx-autocomplete-popup .list-view {
    -fx-border-color: #dee5ed;
    -fx-border-width: 0px 1px 1px 1px;
}

/*******************************************************************************
 *                                                                             *
 * Date Picker																   *
 *                                                                             *
 ******************************************************************************/

.person_pane {
	-fx-background-color: linear-gradient(from 50% 25% to 100% 100%, #103E50, #051b27);
	-fx-border-radius: 0 20 20 0;
 	-fx-background-radius: 0 20 20 0;
}

.person_label {
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-wrap-text: true;
}

/*******************************************************************************
 *                                                                             *
 * Pop Over		                                                       *
 *                                                                             *
 ******************************************************************************/ 


#pop-descript {
	-fx-text-alignment: center;
	-fx-text-fill: #dee5ed;
	-fx-wrap-text: true;
}

#pop-info {
	-fx-text-alignment: left;
	-fx-text-fill: #dee5ed;
	-fx-wrap-text: true;
}

#pop-title {
	-fx-text-fill: #dee5ed;
	-fx-text-alignment: right;
}


.popover > .border {
	-fx-fill: #ff3946!important;
}

.popover > .content {
    -fx-padding: 2px;
    -fx-background-color: #010f15;    
}


/*******************************************************************************
 *                                                                             *
 * Slider				                                                       *
 *                                                                             *
 ******************************************************************************/ 

.jfx-slider > .colored-track {
     -fx-background-color: #ff3946;
}

.jfx-slider > .thumb {
     -fx-background-color: #ff3946;
}

.jfx-slider .animated-thumb{
    -fx-background-color: TRANSPARENT;  
}

.jfx-slider .animated-thumb .slider-value {
     -fx-stroke: TRANSPARENT;
     -fx-fill: TRANSPARENT;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #ff3946;
}


/*******************************************************************************
 *                                                                             *
 * AutoComplete			                                                    	   *
 *                                                                             *
 ******************************************************************************/ 
 
.cell-name-text  {	
	-fx-fill: #B5C3D5;
	-fx-font-size: 11pt;
}

.cell-sub-text  {
	-fx-fill: #dee5ed;
	-fx-font-size: 9pt;
}

.playlist-cell-name {
    -fx-fill: #B5C3D5;
	-fx-font-size: 11pt;
}

.playlist-cell-subtitle {
    -fx-fill: grey;
	-fx-font-size: 8pt;
}

/*******************************************************************************
 *                                                                             *
 * Rating			                                                    	   *
 *                                                                             *
 ******************************************************************************/ 
 
.rating > .container > .button {
	-fx-pref-height: 36px;
	-fx-max-height: 36px;
	-fx-pref-width: 36px;
	-fx-max-width: 36px;
  	-fx-background-size: 36px;
  	-fx-background-image: url("unselected_star.png");
  	-fx-background-color: transparent;
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
}

.rating > .container > .button.strong {
	-fx-pref-height: 36px;
	-fx-max-height: 36px;
	-fx-pref-width: 36px;
	-fx-max-width: 36px;
  	-fx-background-size: 36px;
  	-fx-background-image: url("selected_star_base.png");
  	-fx-background-color: transparent;
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
}

.rating.loaded > .container > .button.strong {
	-fx-pref-height: 36px;
	-fx-max-height: 36px;
	-fx-pref-width: 36px;
	-fx-max-width: 36px;
  	-fx-background-size: 36px;
  	-fx-background-image: url("selected_star_perfect_blue.png");
  	-fx-background-color: transparent;
  	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
}

/*******************************************************************************
 *                                                                             *
 * Genre/Tag Chips			                                                   *
 *                                                                             *
 ******************************************************************************/ 
.genre-chip-hbox {
    -fx-font-size: 12.0;
    -fx-background-color: #051b27;
    -fx-border-color: #ff3946;
    -fx-stroke: 0.5px;
    -fx-background-radius: 40px;
    -fx-border-radius: 40px;
    -fx-padding: 5px 8px 5px 8px;
    -fx-pref-height: 28px;
    -fx-alignment: center;
    -fx-spacing: 8;
    -fx-cursor: hand;
}

.genre-chip-label {
	-fx-text-fill: #ff3946;
}

.tag-chip-hbox {
	-fx-font-size: 10.0;
    -fx-background-color: #051b27;
    -fx-border-color: #ff3946;
    -fx-stroke: 0.5px;
    -fx-background-radius: 36px;
    -fx-border-radius: 36px;
    -fx-padding: 5px 8px 5px 8px;
    -fx-pref-height: 24px;
    -fx-alignment: center;
    -fx-spacing: 8;
    -fx-cursor: hand;  
}

.tag-chip-label {
	-fx-text-fill: #ff3946;
}


/*******************************************************************************
 *                                                                             *
 * Tab Pane			                                                    	   *
 *                                                                             *
 ******************************************************************************/
 .jfx-tab-pane .tab {
    -fx-cursor: hand;
}
  
 .jfx-tab-pane .tab .tab-label {
    -fx-font-weight: normal;
    -fx-text-fill: #dee5ed;
    -fx-font-size: 16;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill :#ff3946;
}
.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #ff3946;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #103E50;
}


.jfx-tab-pane .tab-header-background {
    -fx-background-color: #103E50;
}

.jfx-tab-pane .tab:disabled {
    -fx-background-color: #010f15;
    -fx-cursor: default;
}

.jfx-tab-pane .tab:disabled .tab-label{
    -fx-text-fill: grey;
}

#overlayPane {
	-fx-background-color: #010f15;
	-fx-background-radius: 10px;
}

/*******************************************************************************
*                                                                              *
* JFX Spinner                                                                  *
*                                                                              *
*******************************************************************************/

.jfx-spinner {
	-jfx-radius: 50px;
}

#personSpinner {
	-jfx-radius: 10px;
}

.jfx-spinner .arc {
    -fx-stroke-width: 3.0;
    -fx-stroke: #ff3946;
}


/*******************************************************************************
*                                                                              *
* JFX Toggle                                                                   *
*                                                                              *
*******************************************************************************/
.jfx-toggle-button {
     -jfx-toggle-color: #891e25;
     -jfx-toggle-line-color: #ff3946;
}

.jfx-progress-bar {
    -fx-progress-color: #ff3946;
    -fx-stroke-width: 3;
}